/* Slider */
.slick-slider /*전체 덩어리*/
{
    position: absolute;
    background: #DFE5EC;
    top: 9rem;
    width: 100vw;
    height: 45vh;
    left: 8rem;

    display: block;
}

.slick-list
{
    width: 85vw;
    background: blue;
}

.slick-slide
{
    float: left;
  
    height: 45vh;
    width: 100vw;
    min-height: 1px;
}
.slick-slide img   /*보여지는 이미지 사이즈 조정*/
{
    display: block;
    width: 83vw;
    height: 45vh;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
