.groupBoardOuter {
  position: absolute;
  right: 154px;
  display: column;
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 780px;
  margin: 0 auto;
  padding: 0.1rem;
  background: #ffffff;
}

.boardouter {
  position: absolute;
  width: 720px;
  height: 130vh;
  /* border: 1px solid #5579fe; */
  /* box-shadow: 0px 0px 6px #5579fe; */
  margin: 0;
  left: 13.7rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.post_list {
  top: 120px;
}
.table {
  border-spacing: 0;
  width: 700px;
  margin-top: 10px;
}
.first_th {
  line-height: 3rem;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  width: 50%;
}

.second_th {
  line-height: 3rem;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  width: 20%;
}

.third_th {
  line-height: 3rem;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  width: 20%;
}

/* .fourth-th {
  line-height: 3rem;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  width: 10%;
} */

.post_list_body {
  margin: 0.1rem;
  /*border-spacing: 0;*/
  /*width: 700px;*/
}

.post_item {
  display: flex;
  margin: 1rem;
}

.post_item_title {
  font-size: 0.93rem;
  width: 53%;
  display: inline-block;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  text-align: center;
  color: black;
}
.post_item_title a {
  overflow: hidden;
}

.post_item_date {
  font-size: 0.93rem;
  width: 20%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post_item_writer {
  font-size: 0.93rem;
  width: 25%;
  text-align: center;
}
.post_title{
  text-decoration-line: none;
  text-align: center;
}

.writebtn {
  position: relative;
  width: 7rem;
  height: 1.8rem;
  border-radius: 20px;
  background-color: #5579fe;
  border: 0px;
  top: 400px;
  left: 590px;
  color: white;
  cursor: pointer;
}

.writebtn:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.05;
}

@media (max-width: 1023px) {
  .groupBoardOuter {
    left: 6rem;
  }
  /* .boardouter {
    height: 132vh;
  } */
}

@media (min-width: 1024px) {
  .groupBoardOuter {
    left: 8rem;
  }
  /* .boardouter {
    height: 132vh;
  } */
}

@media (min-width: 1335px) {
  .groupBoardOuter {
    left: 12rem;
  }

  /* .boardouter {
    height: 115vh;
  } */
}

@media (min-width: 1517px) {
  .groupBoardOuter {
    left: 18rem;
  }
  /* .boardouter {
    height: 105vh;
  } */
}

@media (min-width: 1668px) {
  .groupBoardOuter {
    left: 24rem;
  }
  .boardouter {
    height: 90vh;
  }
}

@media (min-width: 1854px) {
  .groupBoardOuter {
    left: 29rem;
  }

  /* .boardouter {
    height: 82vh;
  } */
}

@media (min-width: 1920px) {
  .groupBoardOuter {
    left: 30rem;
  }
}
