body {
  overflow: auto;
}

.outer{
  position: absolute;
  display: column;
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 780px;
  left: 16.5rem;
  margin: 0 auto;
  padding: 0.1rem;
  background: #ffffff;
}
.info{
  position: relative;
  width: 42rem;
  height: 80vh;
  /*border: 1px solid black;*/
  left: 14rem;
}
.group_detail_info {
  position: relative;
  font-size: 1rem;
  font-weight: lighter;
  top: 35%;
}
.group_detail_name {
  font-size: 2rem;
  position: relative;
  top: 35%;
  margin-left: 10px;
}
.groupName {
  position: relative;
  top: 10px;
  width: 43rem;
  height: 7.5rem;
  /*border: 1px solid #dfe5ec;*/
}
.group_exit {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
  color: red;
}
.group_exit:hover {
  cursor: pointer;
}
.groupIntro {
  width: 43rem;
  height: 8rem;
  background-color: rgba(223, 229, 236, 0.242);
  border: 1px solid #dfe5ec;
  border-radius: 10px;
}
.groupNotice {
  margin-top: 0.8rem;
  position: relative;
  width: 690px;
  height: 2.8rem;
  background-color: #5579fe;
  border-radius: 10px;
}
.noticeline {
  position: relative;
  top: 50%;
  left: 1.2rem;
  transform: translate(0, -50%);
  color: white;
  font-size: 0.8rem;
  font-weight: lighter;
}
.noticetitle {
  font-size: 1rem;
  color: white;
}
.Myinfo {
  margin-top: 0.8rem;
  width: 43rem;
  height: 21rem;
  border: 1px solid #dfe5ec;
  border-radius: 10px;
}
.profile {
  width: 43rem;
  height: 9rem;
  border-bottom: 1px solid #dfe5ec;
}
.profile_Name {
  position: relative;
  font-size: 1.5rem;
  top: 10px;
  left: 20px;

}
.myboard {
  width: 43rem;
  height: 11rem;
}
.myboard_outer {
  overflow: auto;
  height : 8rem;
}
.myboard_inner{
  display: flex;
  height: 2.05rem;
  border: 1px solid #dfe5ec;
  position: relative;
  bottom: 5px;
}
.myboard_title{
  font-size: 1.1rem;
  position: relative;
  top: 10px;
  left: 20px;
  text-decoration-line: none;
  color : black;
  width: 400px;
}
.myboard_date{
  font-size: 0.8rem;
  position: relative;
  left: 100px;
}
.subtitle {
  position: relative;
  width: 41rem;
  height: 1.5rem;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 1rem;
  border-bottom: 1px solid #dfe5ec;
}
.introEdit {
  border: 0;
  width: 685px;
  height: 125px;
  border-radius: 10px;
  cursor: pointer;
}
.introEdit:hover {
  cursor: pointer;
}
.introEditBtn {
  position: absolute;
  right: 1px;
  top: 200px;
  width: 3rem;
  height: 1.5rem;
  background-color: #5579fe;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: lighter;
  cursor: pointer;
}
.correction:hover {
  cursor: pointer;
}
.profile_outer {
  display: flex;
}
.profile_Img {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #ffffff;
  margin-left: 1rem;
}
.profile_myinfo {
  margin-left: 1.5rem;
}
.introEditInput {
  height: 127px;
}
.groupdescription {
  position: relative;
  font-size: 1rem;
  font-weight: lighter;
  margin-left: 10px;
}

@media (max-width: 1023px) {
  .outer2 {
    left: 6rem;
  }
}

@media (min-width: 1024px) {
  .outer2 {
    left: 8rem;
  }
}

@media (min-width: 1335px) {
  .outer2 {
    left: 12rem;
  }
}

@media (min-width: 1517px) {
  .outer2 {
    left: 18rem;
  }
}

@media (min-width: 1668px) {
  .outer2 {
    left: 24rem;
  }
}

@media (min-width: 1854px) {
  .outer2 {
    left: 29rem;
  }
}

@media (min-width: 1920px) {
  .outer2 {
    left: 30rem;
  }
}