.outer {
  position: absolute;
  display: column;
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 900px;
  right: 184px;
  margin: 0 auto;
  padding: 0.1rem;
  background: #ffffff;
}


.nogroup_main {
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.nogroup_font {
  font-size: 36px;
}

.sub {
  position: relative;
  display: flex;
}

.search_btn1 {
  width: 8rem;
  height: 3rem;

  position: relative;
  top: 20vh;
  left: 47%;
  transform: translate(-100%);
  margin-left: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  background-color: #5579fe;
  color: white;
  border-color: #5579fe;
  border-bottom: #5579fe;
  border-right: #5579fe;
  border-radius: 8px;
  font-size: 1rem;
}

.search_btn1:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.1;
}

@media (max-width: 1023px) {
  .outer {
    left: 6rem;
  }
}

@media (min-width: 1024px) {
  .outer {
    left: 8rem;
  }
}

@media (min-width: 1335px) {
  .outer {
    left: 12rem;
  }
}

@media (min-width: 1517px) {
  .outer {
    left: 18rem;
  }
}

@media (min-width: 1668px) {
  .outer {
    left: 24rem;
  }
}

@media (min-width: 1854px) {
  .outer {
    left: 29rem;
  }
}

@media (min-width: 1920px) {
  .outer {
    left: 30rem;
  }
}
