.IframeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  float: middle;
  margin-left: 5.5rem;
  width: 100%;
  max-width: 90%;
  height: 100%;

  //padding: 0.3rem;
  background: #dfe5ec;
  /*rgb(219,227,227)*/
}
