.ListPage__actionsPair{
  z-index: 50;
  position: relative;
  top:50%;
  left: 2%;
  transform: translate(-12%,-160%);
}


.MakeRoomBtnPair {
  width: 17%;
  height: 1.5rem;

  position: relative;
  left: 80%;
  top: 0%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  background-color: #5579fe;
  color: white;
  border-color: #5579fe;
  border-bottom: #5579fe;
  border-right: #5579fe;
  border-radius: 8px;
  font-size: 0.4rem;
}

.MakeRoomBtnPair:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.05;
}

@media (min-width: 540px) {
  .MakeRoomBtnPair {
    width: 12%;
    height: 1.7rem;
    font-size: 0.3rem;
  }

  /* .CodeRoomListBox {
      top: 54%;
      height: 75%;
      
      
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 0.1px;
      grid-column-gap: 8px;
    } */
}

@media (min-width: 600px) {
  .MakeRoomBtnPair {
    width: 10%;
    height: 1.8rem;
    font-size: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .MakeRoomBtnPair {
    width: 8%;
    height: 2rem;
    font-size: 0.8rem;
  }
  /* .CodeRoomListBox {
      height: 80%;
      width: 60rem;
      margin : 0.5rem auto;
  
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-row-gap: 0.1px;
      grid-column-gap: 8px;
    } */
}

@media(min-width: 1220px) {
  .MakeRoomBtnPair{
    width: 8%;
    height: 2rem;
    font-size: 0.8rem;
    left: 78%;
  }
}


@media(min-width: 1440px) {
  .MakeRoomBtnPair{
    width: 8%;
    height: 2rem;
    font-size: 0.8rem;
    left: 73%;
  }
}

@media(min-width: 1920px) {
  .MakeRoomBtnPair{
    width: 8%;
    height: 2rem;
    font-size: 0.8rem;
    left: 68%;
  }
}