.container1 {
  width: 25rem;
  height: 30rem;
  z-index: 999;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%,8%); /*위치 임시 조정*/
  background-color:white;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #000;
}
.form1{
position:relative;
top: 27px;
left: 10px;
display: inline-block;
text-align: center;
}
.form1 p{
  position: relative;
  text-align: left;
  left: 40px;
}
.form1 input{
border-radius: 20px;
width: 320px;
height: 35px;
}
.button1{
width: 320px;
height: 43px;
border-radius: 20px;
position: relative;
top: 28px;
left: -6px;
background-color: #5579fe;
border: 0px;
color: white;
}
.button1:hover{
font-weight: bold;
transition: all 0.3s;
scale: 1.1;
}
.icon{
position: relative;
left: -30px;
top: 6px;
z-index: 200;
}
.font{
  font-size: 15px;
}
