.container1 {
  width: 25rem;
  height: 32rem;
  z-index: 999;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%,8%); /*위치 임시 조정*/
  background-color:white;
  border: 1px solid black;
  border-radius: 30px;
}
.form1{
position:relative;
top: 35px;
left: 43px;
}
.input1{
border-radius: 20px;
width: 310px;
height: 25px;
position: relative;
top: -10px;
}
.button1{
width: 320px;
height: 36px;
border-radius: 20px;
position: relative;
top: 20px;
background-color: #5579fe;
border: 1px solid black;
color: white;
}
.button1:hover{
font-weight: bold;
transition: all 0.3s;
scale: 1.1;
}
.icon{
position: relative;
right: 5%;
top: -13px;
z-index: 200;
}