.container1 {
  width: 492px;
  height: 538px;
  z-index: 999;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translate(-50%);
  background-color:white;
  border: 1px solid black;
  border-radius: 30px;
}
.form1{
position:relative;
top: 20px;
left: 65px;
}
.input1{
border-radius: 20px;
width: 354px;
height: 45px;
position: relative;
top: -10px;
}
.button1{
width: 354px;
height: 45px;
border-radius: 20px;
position: relative;
top: 30px;
background-color: #5579fe;
border: 1px solid black;
color: white;
}
.button1:hover{
font-weight: bold;
transition: all 0.3s;
scale: 1.1;
}
.icon{
position: relative;
right: 5%;
top: -7px;
z-index: 200;
}