.IframeBox{
    display: column;
    align-items: center;
    justify-content: center;
    width: 1240px;
    max-width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 0.4rem;
    background: rgb(219,227,227);
}