.PageBox {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66%;
  height: 800px; /* 높이 바꿔야됨 임시*/
  margin: 0 auto;
  background: #ffffff;
  z-index: -1;
}

.MakeRoomBtn {
  width: 10%;
  height: 2.3rem;

  position: relative;
  left: 40%;
  top: 10%; /*높이 바꿔야됨 임시*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* 모달창 디자인 */
  cursor: pointer;
  background-color: #5579fe;
  color: white;
  border-color: #5579fe;
  border-bottom: #5579fe;
  border-right: #5579fe;
  border-radius: 8px;
  font-size: 0.74rem;
}

.MakeRoomBtn:hover{
  background-color: #7B89FF;
  border-color: #7B89FF;
}

@media (min-width: 1024px) {
  .MakeRoomBtn {
    width: 12%;
    height: 2.5rem;
    font-size: 1rem;
  }
}
