
.logo {
    /* position: absolute;
    left: 105px;
    top: 50px; */
    width: 130px;
    height: 100px;
    /* animation: smoothAppear 1s; */
  }

.helpGuide {
  position: absolute;
  display: column;
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 1000px;
  left: 30rem;
  margin: 0 auto;
  padding: 4rem;
  background: #ffffff;
}

.title{
    display: flex;
}
.Go{
    cursor: pointer;
    font-size: 36px;
}


@media (max-width: 1023px) {
  .helpGuide {
    left: 6rem;
  }
}

@media (min-width: 1024px) {
  .helpGuide {
    left: 8rem;
  }
}

@media (min-width: 1335px) {
  .helpGuide {
    left: 12rem;
  }
}

@media (min-width: 1517px) {
  .helpGuide {
    left: 18rem;
  }
}

@media (min-width: 1668px) {
  .helpGuide {
    left: 24rem;
  }
}

@media (min-width: 1854px) {
  .helpGuide {
    left: 29rem;
  }
}

@media (min-width: 1920px) {
  .helpGuide {
    left: 30rem;
  }
}
