.upside-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1rem;
  background-color: #5579fe;
  z-index: 996;
}

.upside-contents {
  display: flex;
  width: 96%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: right;
}

.header {
  position: fixed;
  left: 0;
  top: 1rem;
  width: 100%;
  height: 3rem;
  background-color: #5579fe;
  z-index: 996;
}

.contents {
  display: flex;
  width: 96%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.Coby {
  cursor: pointer;
  width: 12%;
  height: 2.6rem;

  margin-bottom: 0.3rem;
  position: relative;
  display: inline-block;
  background-image: url(/src/images/Coby.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .Group{
  display: inline-block;
  vertical-align: top;
  margin-right: 0rem;
  width: 30%;
  height: 1rem;
  background-image: url(/src/images/Group.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.MyGroup {
  display: inline-block;
  vertical-align: top;
  margin-right: 0rem;
  width: 40%;
  height: 1rem;
  background-image: url(/src/images/MyGroup.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.Question{
  display: inline-block;
  vertical-align: top;
  margin-right: 0rem;
  width: 40%;
  height: 1rem;
  background-image: url(/src/images/Question.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.upside-navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul {
  display: flex;
  list-style: none;
  /* display: inline-block; */
}

.navigation li {
  display: inline-block;
  cursor: pointer;
  color: white;
 
  margin-top: 0.3rem;
  font-size: 0.6rem;
}

.navigation li:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.05;
}

.navigation li + li {
  margin-left: 3rem;
}

.Login {
  cursor: pointer;
  font-size: 0.4rem;
  border: 0px;
  border-radius: 3px;
  background-color: #5579fe;
  color: white;
}
.Login:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.05;
}

.Signin {
  cursor: pointer;
  font-size: 0.4rem;
  border: 0px;
  border-radius: 3px;
  background-color: #5579fe;
  color: white;
}
.Signin:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.05;
}

@media (min-width: 600px) {
  .navigation li {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .contents {
    justify-content: space-around;
  }

  .navigation li {
    font-size: 0.8rem;
  }
}
