.container {
  width: 480px;
  height: 500px;
  z-index: 999;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%);
  background-color:white;
  border: 1px solid black;
  border-radius: 30px;
}
.logo {
width: 100px;
height: 74px;
position: absolute;
top: 40px;
left: 200px;
}
.form{
position:relative;
top: 25%;
left: 10%;
}
.input{
border-radius: 20px;
width: 380px;
height: 49px;
}
.button{
width: 380px;
height: 49px;
border-radius: 20px;
position: relative;
top: 30px;
background-color: #5579fe;
border: 0px;
color: white;
}
.button:hover{
font-weight: bold;
transition: all 0.3s;
scale: 1.1;
}
.bottom{
position: relative;
top: 150px;
left: 50px;
}
.find_botton{
border: 0px;
background-color: white;
}
.find_botton:hover{
color: #5579fe;
font-weight: bold;
transition: all 0.3s;
}
.icon{
position: absolute;
}