.container {
  width: 25rem;
  height: 34rem;
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 4%); /*위치 임시 조정*/
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
}
.logo {
  width: 60px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(26%, 30%);
  
}
.form {
  position: relative;
  top: 10%;
  left: 10%;
}
.input {
  border-radius: 20px;
  width: 320px;
  height: 34px;
}
.button {
  width: 320px;
  height: 36px;
  border-radius: 20px;
  position: relative;
  top: 30px;
  background-color: #5579fe;
  border: 0px;
  color: white;
}
.button:hover {
  font-weight: bold;
  transition: all 0.3s;
  scale: 1.1;
}
.bottom {
  position: relative;
  top: 110px;
  left: 40px;
}
.find_botton {
  border: 0px;
  background-color: white;
}
.find_botton:hover {
  color: #5579fe;
  font-weight: bold;
  transition: all 0.3s;
}
.icon {
  position: absolute;
  left: 0%;
  top: 60%;
  transform: translate(-140%, 120%);
}
