.outer1{
    display: column;
    align-items: center;
    justify-content: center;
    width: 950px;
    height: 780px;
    padding: 0.7rem;
    background: #ffffff;
    z-index: 1;
    position: relative;
    left: 250px;
}