body{
    overflow: auto;
}

.outer2{
    display: column;
    align-items: center;
    justify-content: center;
    width: 950px;
    height: 8000px;
    padding: 0.7rem;
    background: #ffffff;
    z-index: 1;
    position: relative;
    left: 250px;
}
.info1{
    position: relative;
    width: 42rem;
    height: 80vh;
    /*border: 1px solid black;*/
    left: 14rem;
}
.group_detail_info{
    position: relative;
    font-size: 1rem;
    font-weight: lighter;
    top: 35%;
}
.group_detail_name{
    font-size: 2rem;
    position: relative;
    top: 35%;
}
.groupName{
    position: relative;
    top: 10px;
    width: 43rem;
    height: 7.5rem;
    /*border: 1px solid #dfe5ec;*/
}
.group_exit{
    position: absolute;
    right: 1rem;
    font-size: 0.8rem;
    color: red
}
.group_exit:hover{
    cursor: pointer;
}
.groupIntro{
    width: 43rem;
    height: 8rem;
    background-color: rgba(223, 229, 236, 0.242);
    border: 1px solid #dfe5ec;
    border-radius: 10px;
}
.groupNotice{
    margin-top: 0.8rem;
    position: relative;
    width: 690px;
    height: 2.8rem;
    background-color: #5579fe;
    border-radius: 10px;
}
.noticeline{
    position: relative;
    top: 50%;
    left: 1.2rem;
    transform: translate(0,-50%);
    color: white;
    font-size: 0.8rem;
    font-weight: lighter;
}
.noticetitle{
    font-size: 1rem;
    color: white;
}
.Myinfo{
    margin-top: 0.8rem;
    width: 43rem;
    height: 21rem;
    border: 1px solid #dfe5ec;
    border-radius: 10px;
}
.profile{
    width: 43rem;
    height: 9rem;
    border-bottom : 1px solid #dfe5ec;
}
.myboard{
    width: 43rem;
    height: 11rem;
}
.subtitle{
    position: relative;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 1rem;
}
.introEdit{
    border: 0;
    width: 685px;
    height: 125px;
    border-radius: 10px;
}
.introEdit:hover{
    cursor: pointer;
}
.introEditBtn{
    position: absolute;
    right: 1px;
    top: 200px;
    width: 3rem;
    height: 1.5rem;
    background-color: #5579fe;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    font-weight: lighter;
}
.correction:hover {
    cursor: pointer;
}
.profile_outer{
    display: flex;
}
.profile_Img{
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #ffffff;
    margin-left: 1rem;
}
.profile_myinfo{
    margin-left: 1.5rem;
}
.introEditInput{
    height: 127px;
}
.groupdescription{
    position: relative;
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 10px;
}