.outer{
    display: column;
    align-items: center;
    justify-content: center;
    width: 47rem;
    max-width: 90%;
    height: 98vh;
    padding: 0.7rem;
    background: #ffffff;
}

.nogroup-image{
    position: absolute;
    left: 50%;
    top: 25vh;
    transform: translate(-50%);
    width: 10vw;
    height: 10vw;
}

.nogroup_main{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 3vw;
    text-align: center;
}

.nogroup_font{
    position: relative;
    top: 20vh;
}

.sub{
    position: relative;
    display: flex;
}

.search_btn1{
    width: 8rem;
    height: 3rem;

    position: relative;
    top: 40vh;
    left: 47%;
    transform: translate(-100%);
    margin-left: 15px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    cursor: pointer;
    background-color: #5579fe;
    color: white;
    border-color: #5579fe;
    border-bottom: #5579fe;
    border-right: #5579fe;
    border-radius: 8px;
    font-size: 1rem;
}

.search_btn1:hover {
    font-weight: bold;
    transition: all 0.3s;
    scale: 1.1;
  }


  /*반응형 조절*/